*{
    margin: 0;
    padding: 0;
}

.h1{
    font-size: 125%;
    font-weight: bold;
}

.my-container {
    height: 100vh;
    padding: 0 5%;
}

.my-container > section {
    width: 100%;
    margin: 0 !important;
}

#computer-choice {
    width: 35vh;
    height: 35vh;
}

.label {
    margin-bottom: 2vh;
}

.score {
    font-size: 250% !important;
}

.fw-bold {
    font-weight: bold;
}

.player-choice{
    margin: 2%;
    width: calc(76% / 3);
    border: 0 !important;
    outline: none !important;
}

.player-choice img, .player-choice{
    border-radius: 4px;
}

#playAgainBtn{
    display: none;
}

@media (max-width: 600px)
{
    .my-container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

@media (min-width: 600px)
{
    .my-container{
        display: grid;
        grid-template-columns: 48% 48%;
        column-gap: 4%;
        align-content: space-evenly;
        direction: rtl;
    }

    .my-container *{
        direction: ltr;
    }

    #play-again-container{
        display: flex;
        align-items: center;
        display: none;
    }
}